packaging
torch>=2.0.1
fschat
peft
transformers
torch_geometric
pytz
omegaconf
hydra-core
packaging
peft
deepspeed
sentencepiece
wandb
rich
pandas
easydict
bidict
scikit-learn
dgl
ogb
chunkdot
numba
openai